In [130]:
import pandas as pd
df = pd.read_csv('CSE Thesis - Sheet1.csv')
df.columns = df.iloc[0]  # Set the first row as the header
df = df.drop(index=0)    # Drop the first row
df.reset_index(drop=True, inplace=True)
df

,Date,name,e-mail,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,2024-04-24 09:30,Israt Jahan Reshma,isratjahan151q@gmail.com,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,2024-04-24 09:58,Rafiqur,ripon18922@gmail.com,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,2024-04-24 09:58,Alamin Riyad,alaminriyad35@gmail.com,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,2024-04-24 10:18,Md Rakibul Islam,mislam221362@bscse.uiu.ac.bd,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,2024-04-24 10:18,Nahid Hasan,nahidhasan9613@gmail.com,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2024-08-23 23:27,NaN,NaN,Male,4th,3,Shahjalal University of Science & Technology (...,Advance,Advance,Advance,...,Advance,Basic,Basic,Basic,Basic,Basic,0,5,"Job Security,Salary","Software Development,Networking"
269,2024-08-23 23:45,NaN,NaN,Male,4th,3.23,Shahjalal University of Science & Technology (...,Advance,Basic,Intermediate,...,Advance,Intermediate,Intermediate,Advance,Advance,Basic,0,4,"Job Security,Salary","Data Analysis,ML/AI Engineer"
270,2024-08-23 23:46,NaN,NaN,Female,4th,2.98,University of Chittagong (CU),Intermediate,Intermediate,Advance,...,Intermediate,NaN,NaN,Basic,NaN,NaN,1,3,"Social Acceptance,Job Environment","Software Development,Govt Job"
271,2024-08-23 23:47,NaN,NaN,Male,4th,3.78,Shahjalal University of Science & Technology (...,Advance,Intermediate,Intermediate,...,Intermediate,Intermediate,Intermediate,Basic,Basic,Advance,4,1,"Salary,flaxible Work Life Balanced","Teaching,Abroad"
272,2024-08-23 18:06,NaN,NaN,Male,4th,2.91,University of Chittagong (CU),Basic,Basic,Intermediate,...,Basic,NaN,NaN,NaN,NaN,Basic,0,2,"Social Acceptance,Job Security,flaxible Work L...","Bank Job,BCS,Business,Govt Job,Abroad"

In [131]:
df.shape

(273, 27)

In [132]:
df.drop(['Date','name','e-mail'], axis=1, inplace=True)
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,Intermediate,Basic,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,Male,4th,3,Shahjalal University of Science & Technology (...,Advance,Advance,Advance,Intermediate,advance,Advance,...,Advance,Basic,Basic,Basic,Basic,Basic,0,5,"Job Security,Salary","Software Development,Networking"
269,Male,4th,3.23,Shahjalal University of Science & Technology (...,Advance,Basic,Intermediate,Basic,Intermediate,Advance,...,Advance,Intermediate,Intermediate,Advance,Advance,Basic,0,4,"Job Security,Salary","Data Analysis,ML/AI Engineer"
270,Female,4th,2.98,University of Chittagong (CU),Intermediate,Intermediate,Advance,Intermediate,Basic,Intermediate,...,Intermediate,NaN,NaN,Basic,NaN,NaN,1,3,"Social Acceptance,Job Environment","Software Development,Govt Job"
271,Male,4th,3.78,Shahjalal University of Science & Technology (...,Advance,Intermediate,Intermediate,Advance,Basic,Intermediate,...,Intermediate,Intermediate,Intermediate,Basic,Basic,Advance,4,1,"Salary,flaxible Work Life Balanced","Teaching,Abroad"
272,Male,4th,2.91,University of Chittagong (CU),Basic,Basic,Intermediate,Advance,Basic,Basic,...,Basic,NaN,NaN,NaN,NaN,Basic,0,2,"Social Acceptance,Job Security,flaxible Work L...","Bank Job,BCS,Business,Govt Job,Abroad"

In [133]:
print(df.duplicated().sum())

0

In [134]:
university = df.groupby('university_name').size().reset_index(name='Count')
university = university.sort_values(by='Count',ascending=False)
print(university)

                                      university_name  Count
1   Bangabandhu Sheikh Mujibur Rahman Science & Te...     68
0   American International University-Bangladesh (...     26
4                            Comilla University (CoU)     25
23              United International University (UIU)     21
8   Hajee Mohammad Danesh Science & Technology Uni...     18
24                      University of Chittagong (CU)     12
26                        University of Rajshahi (RU)     11
13                      Jahangirnagar University (JU)     10
22  Shahjalal University of Science & Technology (...     10
9            Independent University, Bangladesh (IUB)      9
21  Rajshahi University of Engineering & Technolog...      8
15  Mawlana Bhashani Science & Technology Universi...      7
5             Daffodil International University (DIU)      7
19  Patuakhali  Science and technology university ...      7
25                           University of Dhaka (DU)      6
7                        Faridpur Engineering College      4
14                             Khulna University (KU)      4
12                Islamic University, Bangladesh (IU)      4
18               Northern University Bangladesh (NUB)      3
20          Port City International University (PCIU)      2
11  International University of Business Agricultu...      2
3   Bangladesh University of Engineering & Technol...      2
2   Bangabandhu Sheikh Mujibur Rahman Science & Te...      2
10  International Islamic University Chittagong (I...      2
16                    Mymensingh Engineering College       1
6                          East West University (EWU)      1
17    Noakhali Science & Technology University (NSTU)      1

In [135]:
university.shape

(27, 2)

In [136]:
year = df.groupby('year').size().reset_index(name='Count')
year = year.sort_values(by='Count',ascending=False)
year

  year  Count
3  4th    183
2  3rd     47
1  2nd     29
0  1st     14

In [137]:
year.sum()

year     4th3rd2nd1st
Count             273
dtype: object

In [138]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                                8
university_name                                     0
Critical Thinking                                   5
Problem Solving                                     4
Team Work                                           4
Communication Skill                                 5
Software Engineering Principal                     14
Data Structure & Algorithm                          8
Database Management                                10
Data Analysis                                      14
Web Developing Skill                               18
Understanding of computer architecture & System    19
Understanding Operating System                     18
Networking Concept                                 24
Cyber Security                                     25
Maching Learning                                   28
Robotics                                           42
Research Skill                                     31
publication                                        41
project                                            18
Influencing Factor                                 15
Prefer Job                                          9
dtype: int64

In [139]:
df['year']=df['year'].fillna('4th')
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,Intermediate,Basic,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,Male,4th,3,Shahjalal University of Science & Technology (...,Advance,Advance,Advance,Intermediate,advance,Advance,...,Advance,Basic,Basic,Basic,Basic,Basic,0,5,"Job Security,Salary","Software Development,Networking"
269,Male,4th,3.23,Shahjalal University of Science & Technology (...,Advance,Basic,Intermediate,Basic,Intermediate,Advance,...,Advance,Intermediate,Intermediate,Advance,Advance,Basic,0,4,"Job Security,Salary","Data Analysis,ML/AI Engineer"
270,Female,4th,2.98,University of Chittagong (CU),Intermediate,Intermediate,Advance,Intermediate,Basic,Intermediate,...,Intermediate,NaN,NaN,Basic,NaN,NaN,1,3,"Social Acceptance,Job Environment","Software Development,Govt Job"
271,Male,4th,3.78,Shahjalal University of Science & Technology (...,Advance,Intermediate,Intermediate,Advance,Basic,Intermediate,...,Intermediate,Intermediate,Intermediate,Basic,Basic,Advance,4,1,"Salary,flaxible Work Life Balanced","Teaching,Abroad"
272,Male,4th,2.91,University of Chittagong (CU),Basic,Basic,Intermediate,Advance,Basic,Basic,...,Basic,NaN,NaN,NaN,NaN,Basic,0,2,"Social Acceptance,Job Security,flaxible Work L...","Bank Job,BCS,Business,Govt Job,Abroad"

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           273 non-null    object
 1   year                                             273 non-null    object
 2   cgpa                                             265 non-null    object
 3   university_name                                  273 non-null    object
 4   Critical Thinking                                268 non-null    object
 5   Problem Solving                                  269 non-null    object
 6   Team Work                                        269 non-null    object
 7   Communication Skill                              268 non-null    object
 8   Software Engineering Principal                   259 non-null    object
 9   Data Structure & Algorithm                       265 non-null    object
 10  Database Management                              263 non-null    object
 11  Data Analysis                                    259 non-null    object
 12  Web Developing Skill                             255 non-null    object
 13  Understanding of computer architecture & System  254 non-null    object
 14  Understanding Operating System                   255 non-null    object
 15  Networking Concept                               249 non-null    object
 16  Cyber Security                                   248 non-null    object
 17  Maching Learning                                 245 non-null    object
 18  Robotics                                         231 non-null    object
 19  Research Skill                                   242 non-null    object
 20  publication                                      232 non-null    object
 21  project                                          255 non-null    object
 22  Influencing Factor                               258 non-null    object
 23  Prefer Job                                       264 non-null    object
dtypes: object(24)
memory usage: 51.3+ KB

In [141]:
df['publication']=df['publication'].fillna(0)
df['project']=df['project'].fillna(0)
print(df['publication'])
print(df['project'])

0      1
1      0
2      0
3      0
4      0
      ..
268    0
269    0
270    1
271    4
272    0
Name: publication, Length: 273, dtype: object
0      2
1      0
2      2
3      1
4      5
      ..
268    5
269    4
270    3
271    1
272    2
Name: project, Length: 273, dtype: object

In [142]:
#converted publication and research_paper int int32 form
convert_dict = {'publication': 'int16',
                'project': 'int16',
                'cgpa':'float64'
               }
df = df.astype(convert_dict)
df.sample(10)

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
33,Female,1st,3.61,Daffodil International University (DIU),Basic,Basic,Intermediate,Basic,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Other
88,Male,1st,3.16,Northern University Bangladesh (NUB),Basic,Intermediate,Basic,Intermediate,Basic,Basic,...,Intermediate,Basic,Intermediate,Intermediate,Basic,Basic,2,2,"Social Acceptance,Job Security,Job Environment","Networking,Cyber Security"
160,Male,4th,2.95,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,4,"Job Security,Salary","Software Development,Abroad"
119,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,3,Job Environment,"Database Administration,Data Analysis"
100,Female,2nd,2.93,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,1,flaxible Work Life Balanced,Other
65,Female,2nd,3.50,Comilla University (CoU),Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,0,Salary,Business
106,Male,4th,3.30,Mawlana Bhashani Science & Technology Universi...,Basic,Basic,Advance,Advance,Intermediate,Intermediate,...,Advance,Advance,Intermediate,Basic,Basic,Intermediate,0,4,"Social Acceptance,Job Security,Job Environment...","Software Development,Bank Job"
56,Male,4th,3.33,Faridpur Engineering College,Intermediate,Intermediate,Intermediate,Basic,Intermediate,Intermediate,...,Basic,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,1,2,NaN,"Software Development,Data Analysis"
62,Female,1st,3.60,Comilla University (CoU),Basic,Basic,Intermediate,Intermediate,Basic,Intermediate,...,Intermediate,Basic,Intermediate,Basic,Basic,Basic,0,0,Salary,Business
87,Male,4th,3.63,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Intermediate,Basic,Basic,Basic,0,10,"Social Acceptance,Job Security,flaxible Work L...",Software Development

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           273 non-null    object
 1   year                                             273 non-null    object
 2   cgpa                                             265 non-null    float64
 3   university_name                                  273 non-null    object
 4   Critical Thinking                                268 non-null    object
 5   Problem Solving                                  269 non-null    object
 6   Team Work                                        269 non-null    object
 7   Communication Skill                              268 non-null    object
 8   Software Engineering Principal                   259 non-null    object
 9   Data Structure & Algorithm                       265 non-null    object
 10  Database Management                              263 non-null    object
 11  Data Analysis                                    259 non-null    object
 12  Web Developing Skill                             255 non-null    object
 13  Understanding of computer architecture & System  254 non-null    object
 14  Understanding Operating System                   255 non-null    object
 15  Networking Concept                               249 non-null    object
 16  Cyber Security                                   248 non-null    object
 17  Maching Learning                                 245 non-null    object
 18  Robotics                                         231 non-null    object
 19  Research Skill                                   242 non-null    object
 20  publication                                      273 non-null    int16
 21  project                                          273 non-null    int16
 22  Influencing Factor                               258 non-null    object
 23  Prefer Job                                       264 non-null    object
dtypes: float64(1), int16(2), object(21)
memory usage: 48.1+ KB

In [144]:
project = df.groupby('project').size().reset_index(name='Count')
#year = year.sort_values(by='Count',ascending=False)
project

    project  Count
0         0     40
1         1     50
2         2     59
3         3     33
4         4     35
5         5     31
6         6      5
7         7      2
8         8      1
9         9      2
10       10      6
11       11      2
12       15      1
13       25      2
14       30      1
15       50      1
16       65      1
17      100      1

In [145]:
publication = df.groupby('publication').size().reset_index(name='Count')
#year = year.sort_values(by='Count',ascending=False)
publication

   publication  Count
0            0    211
1            1     33
2            2     17
3            3      4
4            4      2
5            5      3
6            7      1
7           30      2

In [146]:
df.describe()

0            cgpa  publication     project
count  265.000000   273.000000  273.000000
mean     3.274075     0.619048    3.750916
std      0.522630     2.703743    8.252242
min      0.000000     0.000000    0.000000
25%      3.010000     0.000000    1.000000
50%      3.320000     0.000000    2.000000
75%      3.590000     0.000000    4.000000
max      4.000000    30.000000  100.000000

In [147]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                                8
university_name                                     0
Critical Thinking                                   5
Problem Solving                                     4
Team Work                                           4
Communication Skill                                 5
Software Engineering Principal                     14
Data Structure & Algorithm                          8
Database Management                                10
Data Analysis                                      14
Web Developing Skill                               18
Understanding of computer architecture & System    19
Understanding Operating System                     18
Networking Concept                                 24
Cyber Security                                     25
Maching Learning                                   28
Robotics                                           42
Research Skill                                     31
publication                                         0
project                                             0
Influencing Factor                                 15
Prefer Job                                          9
dtype: int64

In [148]:

df['cgpa'].isna().sum()

8

In [149]:
df['cgpa'].mean()

3.2740754716981133

In [150]:
df['cgpa']=df['cgpa'].fillna(df['cgpa'].mean())

In [151]:
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,Male,4th,2.50,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,0,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,Intermediate,Basic,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,Male,4th,3.00,Shahjalal University of Science & Technology (...,Advance,Advance,Advance,Intermediate,advance,Advance,...,Advance,Basic,Basic,Basic,Basic,Basic,0,5,"Job Security,Salary","Software Development,Networking"
269,Male,4th,3.23,Shahjalal University of Science & Technology (...,Advance,Basic,Intermediate,Basic,Intermediate,Advance,...,Advance,Intermediate,Intermediate,Advance,Advance,Basic,0,4,"Job Security,Salary","Data Analysis,ML/AI Engineer"
270,Female,4th,2.98,University of Chittagong (CU),Intermediate,Intermediate,Advance,Intermediate,Basic,Intermediate,...,Intermediate,NaN,NaN,Basic,NaN,NaN,1,3,"Social Acceptance,Job Environment","Software Development,Govt Job"
271,Male,4th,3.78,Shahjalal University of Science & Technology (...,Advance,Intermediate,Intermediate,Advance,Basic,Intermediate,...,Intermediate,Intermediate,Intermediate,Basic,Basic,Advance,4,1,"Salary,flaxible Work Life Balanced","Teaching,Abroad"
272,Male,4th,2.91,University of Chittagong (CU),Basic,Basic,Intermediate,Advance,Basic,Basic,...,Basic,NaN,NaN,NaN,NaN,Basic,0,2,"Social Acceptance,Job Security,flaxible Work L...","Bank Job,BCS,Business,Govt Job,Abroad"

In [152]:
df['Prefer Job'].isna().sum()

9

In [153]:
df['Prefer Job']=df['Prefer Job'].fillna('other')
df['Influencing Factor']=df['Influencing Factor'].fillna('other')

In [154]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                                0
university_name                                     0
Critical Thinking                                   5
Problem Solving                                     4
Team Work                                           4
Communication Skill                                 5
Software Engineering Principal                     14
Data Structure & Algorithm                          8
Database Management                                10
Data Analysis                                      14
Web Developing Skill                               18
Understanding of computer architecture & System    19
Understanding Operating System                     18
Networking Concept                                 24
Cyber Security                                     25
Maching Learning                                   28
Robotics                                           42
Research Skill                                     31
publication                                         0
project                                             0
Influencing Factor                                  0
Prefer Job                                          0
dtype: int64

In [155]:
df=df.fillna(0)

In [156]:
df.isna().sum().sum()

0

In [157]:
df=df.replace({'Basic','basic'}, 1)
df=df.replace({'Intermediate','intermediate'},2)
df=df.replace({'Advance','advance'},3)
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,3,2,2,3,...,1,0,0,1,0,2,1,2,Job Security,Software Development
1,Male,4th,2.50,Bangabandhu Sheikh Mujibur Rahman Science & Te...,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,2,1,1,2,...,1,1,1,1,1,1,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),2,2,2,2,1,2,...,2,2,1,1,1,1,0,1,Job Security,Software Development
4,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,3,2,2,2,...,2,3,3,1,1,1,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,Male,4th,3.00,Shahjalal University of Science & Technology (...,3,3,3,2,3,3,...,3,1,1,1,1,1,0,5,"Job Security,Salary","Software Development,Networking"
269,Male,4th,3.23,Shahjalal University of Science & Technology (...,3,1,2,1,2,3,...,3,2,2,3,3,1,0,4,"Job Security,Salary","Data Analysis,ML/AI Engineer"
270,Female,4th,2.98,University of Chittagong (CU),2,2,3,2,1,2,...,2,0,0,1,0,0,1,3,"Social Acceptance,Job Environment","Software Development,Govt Job"
271,Male,4th,3.78,Shahjalal University of Science & Technology (...,3,2,2,3,1,2,...,2,2,2,1,1,3,4,1,"Salary,flaxible Work Life Balanced","Teaching,Abroad"
272,Male,4th,2.91,University of Chittagong (CU),1,1,2,3,1,1,...,1,0,0,0,0,1,0,2,"Social Acceptance,Job Security,flaxible Work L...","Bank Job,BCS,Business,Govt Job,Abroad"

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           273 non-null    object
 1   year                                             273 non-null    object
 2   cgpa                                             273 non-null    float64
 3   university_name                                  273 non-null    object
 4   Critical Thinking                                273 non-null    int64
 5   Problem Solving                                  273 non-null    int64
 6   Team Work                                        273 non-null    int64
 7   Communication Skill                              273 non-null    int64
 8   Software Engineering Principal                   273 non-null    int64
 9   Data Structure & Algorithm                       273 non-null    int64
 10  Database Management                              273 non-null    int64
 11  Data Analysis                                    273 non-null    int64
 12  Web Developing Skill                             273 non-null    int64
 13  Understanding of computer architecture & System  273 non-null    int64
 14  Understanding Operating System                   273 non-null    int64
 15  Networking Concept                               273 non-null    int64
 16  Cyber Security                                   273 non-null    int64
 17  Maching Learning                                 273 non-null    int64
 18  Robotics                                         273 non-null    int64
 19  Research Skill                                   273 non-null    int64
 20  publication                                      273 non-null    int16
 21  project                                          273 non-null    int16
 22  Influencing Factor                               273 non-null    object
 23  Prefer Job                                       273 non-null    object
dtypes: float64(1), int16(2), int64(16), object(5)
memory usage: 48.1+ KB

In [159]:
df = df.rename(columns={
    'Data Analysis': 'Data Analysis skill',
    'Cyber Security': 'Cyber Security Skill',
    'Maching Learning':'Machine Learning Skill',
    'Robotics':'Robotics Skill'
})

In [160]:
df.to_csv('clean_data.csv')

In [161]:
#from pandas_profiling import ProfileReport
from ydata_profiling import ProfileReport
# Assuming 'df' is your DataFrame
prof = ProfileReport(df)
prof.to_file(output_file='summary.html')

C:\Users\HP\anaconda3\Lib\site-packages\ydata_profiling\profile_report.py:363: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]